#sign {
margin: 200px 0;

  .sign {
display: flex;
    flex-direction: column;
    width: 630px;
    &--title{
      display: flex;
      flex-direction: column;
      gap: 10px;
      h2{
        color: #000;
        font-family: Inter;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      h6{
        color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
    &--input{
      display: flex;
      flex-direction: column;

      padding: 30px 0;
     p{
       color: #000;
       text-align: center;
       font-family: Inter;
       font-size: 18px;
       font-style: normal;
       font-weight: 400;
       line-height: normal;
       margin-left: 0;

     }
      input{
        border-radius: 10px;
        border: 1px solid #000;
        background: #FFF;
        width: 610px;
        height: 60px;
        flex-shrink: 0;
        outline: none;
        padding: 0 10px ;
        margin: 5px 0 30px 0;
      }
      button{
        display: flex;
        width: 630px;
        padding: 16px 265px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        background: #0992D5;
        outline: none;
        cursor: pointer;
        border:none;
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        &:hover{
          background: rgba(9, 146, 213, 0.50);

        }
      }
    }
    &--log{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px 0 50px 0;
      &:before,&:after{
        content: '';
        flex: 1;
        border-bottom: 1px solid #ccc;
      }
      span{
        color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 0 10px ;
      }
    }
    &--btn{
      display: flex;
      align-items: center;
      gap: 45px;
      &__img{
        width: 180px;
        height: 60px;
        flex-shrink: 0;
        border-radius: 10px;
        border: 1px solid #000;
        background: #FFF;
        cursor: pointer;
        img{
          width: 34px;
          height: 34px;
        }
        &--icon{
          font-size: 34px;
        }
      }
    }
  }


}

