#cult-section3{
    .container{
        .cult-section3{
            .cult-section3-clothes{
                display: flex;
                justify-content: space-between;
                p{
                    font-family: Poppins;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 21px;
                    letter-spacing: 0em;
                    text-align: left;
                    width: 570px;
                    margin: 0;
                }
                img{
                    margin: 0;
            
                }
            }
            .cult-section3-pictures{
                padding-top: 35px;
                img{
                    margin: 0 20px 0 0;
                }
                display: flex;
                overflow-y: scroll !important;
                width: 1370px;
            }
            ::-webkit-scrollbar{width: 0}
        }
    }
}