#results{
    .container{
        .results{
          
            &--blocks {
                display: flex;
                margin-top: 110px;
                align-items: center;
                &__byPlane {
                  width: 190px;
                  gap: 10px;
                  h1 {
                    color: #0992d5;
                    font-family: Inter;
                    font-size: 36px;
                    font-weight: 700;
                    cursor: pointer;
                    margin-bottom: 10px;
                  }
                  &--linea {
                    width: 373px;
                    height: 6px;
                    background: #d9d9d9;
                    cursor: pointer;
                    &:hover {
                      background: #0992d5;
                    }
                  }
                }
                &__byBus {
                  width: 190px;
                  gap: 10px;
                  h1 {
                    color: #0992d5;
                    font-family: Inter;
                    font-size: 36px;
                    font-weight: 700;
                    margin-bottom: 10px;
                    cursor: pointer;
                  }
                  &--linea {
                    width: 373px;
                    height: 6px;
                    background: #d9d9d9;
                    cursor: pointer;
                    &:hover {
                      background: #0992d5;
                    }
                  }
                }
                &__byTrain {
                  width: 190px;
                  gap: 10px;
                  h1 {
                    color: #0992d5;
                    font-family: Inter;
                    font-size: 36px;
                    font-weight: 700;
                    cursor: pointer;
                    margin-bottom: 10px;
                  }
                  &--linea {
                    width: 373px;
                    height: 6px;
                    background: #d9d9d9;
                    cursor: pointer;
                    &:hover {
                      background: #0992d5;
                    }
                  }
                }
              }
        }
    }
}