@media (max-width: 1200px) {
  #hotel{
    height: 700px;
    .hotel{
      margin-top: -33%;
    }
  }
}
@media (max-width: 1200px) {
  #hotel{
    height: 560px;
    .hotel{
      margin-top: -37%;
    }
  }
}
@media (max-width: 1024px) {
  #hotel{
    height: 540px;
    .hotel{
      margin-top: -37%;
    }
  }
}