@media (max-widht: 1200px) {
  #route {
    height: 648px;
    .container {
      .route {
      }
    }
  }
}
@media (max-width: 1024px) {
  #route {
    .container {
      .route {
      }
    }
  }
}
@media (max-width: 992px) {
  #route {
    .container {
      .route {
      }
    }
  }
}
@media (max-width: 768px) {
  #route {
    height: 416px !important;
    .container {
      .route {
      }
    }
  }
}
@media (max-width: 576px) {
  #route {
    height: 355px !important;
    padding-top: 59px !important;
    .container {
      .route {
        &--zagalovok {
          h1 {
            font-size: 40px !important;
            margin-top: 131px !important;
          }
        }
      }
    }
  }
}
@media (max-width: 451px) {
  #route {
    height: 355px !important;
    padding-top: 59px !important;
    .container {
      .route {
        &--zagalovok {
          h1 {
            margin-top: 137px !important;
            font-size: 30px !important;
          }
        }
      }
    }
  }
}
@media (max-width: 400px) {
  #route {
    height: 234px !important;
    padding-top: 74px !important;
    .container {
      .route {
        &--zagalovok {
          h1 {
            margin-top: 70px !important;
          }
        }
      }
    }
  }
}
