@media (max-widht: 1200px) {
  #route {
    height: 648px;
    .container {
      .route {
      }
    }
  }
}
@media (max-width: 1024px) {
  #route {
    .container {
      .route {
      }
    }
  }
}
@media (max-width: 992px) {
  #route {
    .container {
      .route {
      }
    }
  }
}
@media (max-width: 768px) {
  #route {
    height: 416px;
    .container {
      .route {
      }
    }
  }
}
@media (max-width: 576px) {
  #route {
    height: 170px;
    .container{
      .route{
        
      }
    }
  }
}
