@media(max-width:1400px){


}
@media(max-width:1200px){
    
}
@media(max-width:1024px){
    
    
}
@media(max-width: 993px){
    
}
@media(max-width: 768px){
    
}
@media(max-width: 575px){
    .trad-bg{
        height: 779px;
        display: flex;
        align-items: center;
        justify-content: center;
        h1{
            font-family: Poppins;
            font-size: 35px !important;
            font-weight: 700;
            line-height: 40px !important;
            letter-spacing: 0em;
            text-align: left;
            color: white;

        }

    }
}
@media(max-width: 480px){
    
}
@media(max-width:414px){
    .trad-bg{
        height: 779px;
        display: flex;
        align-items: center;
        justify-content: center;
        h1{
            font-family: Poppins;
            font-size: 30px !important;
            font-weight: 700;
            line-height: 40px !important;
            letter-spacing: 0em;
            text-align: left;
            color: white;

        }

    }
}
@media(max-width:375px){
    
}
@media(max-width:320px){
    
}
