#review {
  center {
    color: #0992D5;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  ::-webkit-scrollbar {
    width: 0;
  }

  .slice {
    margin-left: 10%;
    display: flex;
    overflow-x: scroll;
    gap: 20px;

    &--card {
      border-radius: 16px;
      border: 1px solid #000;
      background: #FFF;
      width: 460px;
      height: 220px;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      margin-top: 60px;

      &__top {
        display: flex;
        justify-content: space-between;
        margin-left: 40px;
        margin-top: 20px;
        margin-bottom: 30px;

        img {
          margin-top: -60px;
          margin-left: 70px;
          margin-right: 40px;
        }

        h6 {
          color: #000;
          text-align: right;
          font-family: Inter;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }

      &__bottom {
        margin-left: 40px;
        width: 350px;
        height: 150px;

        p {
          color: #000;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          height: 3.9em;
        }
      }

    }
  }
p{}
  .review {
    margin: 20px 0 50px 0;

    &--top {
      p {
        color: #000;
        margin-bottom: 10px;
        font-family: Inter;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-align: start;
      }

      div {
        height: 2px;
        flex-shrink: 0;
        background: #D9D9D9;
      }
    }

    &--input {
      p {
        margin-top: 30px;
        color: #000;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      input {

        width: 540px;
        height: 50px;
        flex-shrink: 0;
        border-radius: 6px;
        border: 1px solid #000;
        background: #FFF;
        outline: none;
        padding: 0 20px;
      }
    }

    &--bottom {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      margin-top: 30px;
      width: 680px;
      margin-left: 0;

      textarea {
        margin-left: 0;
        padding: 20px;
        width: 640px;
        height: 170px;
        flex-shrink: 0;
        border-radius: 16px;
        border: 1px solid #000;
        background: #FFF;
        outline: none;
      }

      button {
        margin-top: 20px;
        margin-right: 0;
        display: inline-flex;
        padding: 10px 50px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        cursor: pointer;
        border-radius: 6px;
        border: 1px solid #000;
        background: #0992D5;
        color: #FFF;
        font-family: Poppins;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
}