@media (max-width: 1200px) {
  #plane {
    .container {
      .plane {
        &--card {
          &__rout {
            width: 750px;
            &--city {
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  #plane {
    .container {
      .plane {
        &--card {
          &__rout {
            &--city {
            }
          }
        }
      }
    }
  }
}
@media (max-width: 992px) {
  #plane {
    .container {
      .plane {
        &--card {
          &__rout {
            &--city {
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  #plane {
    .container {
      .plane {
        display: flex;
        justify-content: center;
        h1 {
          display: none;
        }
        &--card {
          &__rout {
            &--city {
              width: 283px;
              height: 277px;
            }
            img {
              width: 263px;
              height: 154px;
            }
          }
        }
      }
    }
  }
}
