@media(max-width:1400px){
    .kg-section5{
        display: flex;
        flex-direction: column;
        align-items: center;
        .section5-pictures{
            width: 600px !important;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 !important;
            img{
                margin: 0 10px 20px 10px;
            }
        }
        p{
            margin: 0 !important;
            font-family: Poppins;
            font-size: 14px;
            font-weight: 500;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
            width: 500px;
        }
    }

}
@media(max-width:1200px){
    .kg-section5{
        display: flex;
        flex-direction: column;
        align-items: center;
        .section5-pictures{
            width: 600px !important;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 !important;
            img{
                margin: 0 10px 20px 10px;
            }
        }
        p{
            margin: 0 !important;
            font-family: Poppins;
            font-size: 14px;
            font-weight: 500;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
            width: 500px !important;
        }
    }
}
@media(max-width:1024px){
    
    
}
@media(max-width: 993px){
    
}
@media(max-width: 768px){
    
}
@media(max-width: 575px){
    
}
@media(max-width: 480px){
    .kg-section5{
        display: flex;
        flex-direction: column;
        align-items: center;
        .section5-pictures{
            width: 420px !important;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 !important;
            img{
                margin: 0 10px 20px 10px;
                width: 40% !important;
            }
        }
        p{
            margin: 0 !important;
            font-family: Poppins;
            font-size: 14px;
            font-weight: 500;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
            width: 400px !important;
        }
    }
}
@media(max-width:414px){
    .kg-section5{
        display: flex;
        flex-direction: column;
        align-items: center;
        .section5-pictures{
            width: 420px !important;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 !important;
            img{
                margin: 0 10px 20px 10px;
                width: 40% !important;
            }
        }
        p{
            margin: 0 !important;
            font-family: Poppins;
            font-size: 14px;
            font-weight: 500;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
            width: 370px !important;
        }
    }
}
@media(max-width:375px){
    .kg-section5{
        display: flex;
        flex-direction: column;
        align-items: center;
        .section5-pictures{
            width: 320px !important;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 0 20px 0!important;
            img{
                margin: 0 5px 10px 5px !important;
                width: 40% !important;
            }
        }
        p{
            margin: 0 !important;
            font-family: Poppins;
            font-size: 14px;
            font-weight: 500;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
            width: 320px !important;
        }
    }
}
@media(max-width:320px){
    .kg-section5{
        display: flex;
        flex-direction: column;
        align-items: center;
        .section5-pictures{
            width: 280px !important;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 !important;
            img{
                margin: 0 10px 20px 10px;
                width: 40% !important;
            }
        }
        p{
            margin: 0 !important;
            font-family: Poppins;
            font-size: 14px;
            font-weight: 500;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
            width: 280px !important;
        }
    }
}
