@media(max-width:1400px){


}
@media(max-width:1200px){
    .kg-section6{
        h1{
            font-family: Poppins;
            font-size: 22px;
            font-weight: 700;
            line-height: 33px;
            letter-spacing: 0em;
            text-align: center;
        }
        p{
            font-family: Poppins;
            font-family: Poppins;
            font-size: 14px;
            font-weight: 500;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
            margin: 30px 0;

        }
        img{
            width: 100%;
        }
    }
}
@media(max-width:1024px){
    .kg-section6{
        h1{
            font-family: Poppins;
            font-size: 22px;
            font-weight: 700;
            line-height: 33px;
            letter-spacing: 0em;
            text-align: center;
        }
        p{
            font-family: Poppins;
            font-family: Poppins;
            font-size: 14px;
            font-weight: 500;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
            margin: 30px 0;
            width: 820px !important;

        }
    }
    
}
@media(max-width: 993px){
    
}
@media(max-width: 768px){
    .kg-section6{
        h1{
            font-family: Poppins;
            font-size: 22px;
            font-weight: 700;
            line-height: 33px;
            letter-spacing: 0em;
            text-align: center;
        }
        p{
            font-family: Poppins;
            font-family: Poppins;
            font-size: 14px;
            font-weight: 500;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
            margin: 30px 0;
            width: 640px !important;

        }
    }
}
@media(max-width: 575px){
    .kg-section6{
        h1{
            font-family: Poppins;
            font-size: 20px !important;
            font-weight: 700;
            line-height: 30px !important;
            letter-spacing: 0em;
            text-align: center;
        }
        p{
            font-family: Poppins;
            font-family: Poppins;
            font-size: 14px;
            font-weight: 500;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
            margin: 30px 0;
            width: 460px !important;

        }
    }
}
@media(max-width: 480px){
    .kg-section6{
        h1{
            font-family: Poppins;
            font-size: 22px;
            font-weight: 700;
            line-height: 33px;
            letter-spacing: 0em;
            text-align: center;
        }
        p{
            font-family: Poppins;
            font-family: Poppins;
            font-size: 14px;
            font-weight: 500;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
            margin: 30px 0;
            width: 390px !important;

        }
    }
}
@media(max-width:414px){
    .kg-section6{
        h1{
            font-family: Poppins;
            font-size: 22px;
            font-weight: 700;
            line-height: 33px;
            letter-spacing: 0em;
            text-align: center;
        }
        p{
            font-family: Poppins;
            font-family: Poppins;
            font-size: 14px;
            font-weight: 500;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
            margin: 30px 0;
            width: 330px !important;

        }
    }
}
@media(max-width:375px){
    .kg-section6{
        h1{
            font-family: Poppins;
            font-size: 18px !important;
            font-weight: 700;
            line-height: 29px !important;
            letter-spacing: 0em;
            text-align: center;
        }
        p{
            font-family: Poppins;
            font-family: Poppins;
            font-size: 14px;
            font-weight: 500;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
            margin: 30px 0;
            width: 290px !important;

        }
    }
}
@media(max-width:320px){
    .kg-section6{
        h1{
            font-family: Poppins;
            font-size: 22px;
            font-weight: 700;
            line-height: 33px;
            letter-spacing: 0em;
            text-align: center;
        }
        p{
            font-family: Poppins;
            font-family: Poppins;
            font-size: 14px;
            font-weight: 500;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
            margin: 30px 0;
            width: 260px !important;

        }
    }
}
