@media(max-width:1400px){

}
@media(max-width:1200px){

}
@media(max-width:1024px){

}
@media(max-width:993px){

}
@media(max-width:768px){
    .contacts-section1{
        .cont-texts{
            p{
                margin: 20px 0;
            }
        }
        .blue{
            font-family: Poppins;
            font-size: 22px;
            font-weight: 500;
            line-height: 33px;
            letter-spacing: 0em;
            text-align: left;
            color: #0992D5;
        }
        p{
            font-family: Poppins;
            font-size: 22px;
            font-weight: 500;
            line-height: 33px;
            letter-spacing: 0em;
            text-align: left;
        }
        .cont-input{
            margin: 30px 0;
            p{
                margin: 10px 0;
            }
        }
        .cont-input1{
            width: 393px;
            height: 46px;
            border-radius: 10px;
            margin: 0;
            border: 1px solid  black;
            input{
                outline: none;
                border: none;
                margin: 5px 0 0 5px;
                width: 383px;
                height: 36px;
            }
        }
        .Message{
            margin: 30px 0;
             p{
                margin: 15px 0;
            }
        }
        .cont-input2{
            width: 500px !important;
            height: 180px;
            margin: 0;
            border-radius: 10px;
            border: 1px solid black;
            input{
                outline: none;
                border: none;
                margin: 5px 0 0 5px;
                width: 490px !important;
                height: 170px;
            }
        }
        button{
            width: Hug (158px);
            height: Hug (53px);
            padding: 10px 40px 10px 40px;
            border-radius: 10px;
            gap: 10px;
            border: none;
            font-family: Poppins;
            font-size: 22px;
            font-weight: 700;
            line-height: 33px;
            letter-spacing: 0em;
            text-align: left;
            background: #0992D5;
            color: white;
        }
    }
}
@media(max-width:575px){
    .contacts-section1{
        .cont-texts{
            p{
                margin: 20px 0;
            }
        }
        .blue{
            font-family: Poppins;
            font-size: 22px;
            font-weight: 500;
            line-height: 33px;
            letter-spacing: 0em;
            text-align: left;
            color: #0992D5;
        }
        p{
            font-family: Poppins;
            font-size: 22px;
            font-weight: 500;
            line-height: 33px;
            letter-spacing: 0em;
            text-align: left;
        }
        .cont-input{
            margin: 30px 0;
            p{
                margin: 10px 0;
            }
        }
        .cont-input1{
            width: 293px !important;
            height: 46px;
            border-radius: 10px;
            margin: 0;
            border: 1px solid  black;
            input{
                outline: none;
                border: none;
                margin: 5px 0 0 5px;
                width: 283px !important;
                height: 36px;
            }
        }
        .Message{
            margin: 30px 0;
             p{
                margin: 15px 0;
            }
        }
        .cont-input2{
            width: 400px !important;
            height: 140px;
            margin: 0;
            border-radius: 10px;
            border: 1px solid black;
            input{
                outline: none;
                border: none;
                margin: 5px 0 0 5px;
                width: 390px !important;
                height: 130px;
            }
        }
        button{
            width: Hug (158px);
            height: Hug (53px);
            padding: 10px 40px 10px 40px;
            border-radius: 10px;
            gap: 10px;
            border: none;
            font-family: Poppins;
            font-size: 22px;
            font-weight: 700;
            line-height: 33px;
            letter-spacing: 0em;
            text-align: left;
            background: #0992D5;
            color: white;
        }
    }
}
@media(max-width:480px){
    .contacts-section1{
        .cont-texts{
            p{
                margin: 20px 0;
            }
        }
        .blue{
            font-family: Poppins;
            font-size: 22px;
            font-weight: 500;
            line-height: 33px;
            letter-spacing: 0em;
            text-align: left;
            color: #0992D5;
        }
        p{
            font-family: Poppins;
            font-size: 22px;
            font-weight: 500;
            line-height: 33px;
            letter-spacing: 0em;
            text-align: left;
        }
        .cont-input{
            margin: 30px 0;
            p{
                margin: 10px 0;
            }
        }
        .cont-input1{
            width: 253px !important;
            height: 36px !important;
            border-radius: 10px;
            margin: 0;
            border: 1px solid  black;
            input{
                outline: none;
                border: none;
                margin: 5px 0 0 5px;
                width: 243px !important;
                height: 30px !important;
            }
        }
        .Message{
            margin: 30px 0;
             p{
                margin: 15px 0;
            }
        }
        .cont-input2{
            width: 308px !important;
            height: 140px !important;
            margin: 0;
            border-radius: 10px;
            border: 1px solid black;
            input{
                outline: none;
                border: none;
                margin: 5px 0 0 5px;
                width: 300px !important;
                height: 130px !important;
            }
        }
        button{
            width: Hug (158px);
            height: Hug (53px);
            padding: 10px 40px 10px 40px;
            border-radius: 10px;
            gap: 10px;
            border: none;
            font-family: Poppins;
            font-size: 22px;
            font-weight: 700;
            line-height: 33px;
            letter-spacing: 0em;
            text-align: left;
            background: #0992D5;
            color: white;
        }
    }
}
@media(max-width:414px){
    .contacts-section1{
        .cont-texts{
            p{
                margin: 20px 0;
            }
        }
        .blue{
            font-family: Poppins;
            font-size: 22px;
            font-weight: 500;
            line-height: 33px;
            letter-spacing: 0em;
            text-align: left;
            color: #0992D5;
        }
        p{
            font-family: Poppins;
            font-size: 12px !important;
            font-weight: 500;
            line-height: 33px;
            letter-spacing: 0em;
            text-align: left;
            width: 360px !important;
        }
        .cont-input{
            margin: 30px 0;
            p{
                margin: 10px 0;
            }
        }
        .cont-input1{
            width: 393px;
            height: 46px;
            border-radius: 10px;
            margin: 0;
            border: 1px solid  black;
            input{
                outline: none;
                border: none;
                margin: 5px 0 0 5px;
                width: 383px;
                height: 36px;
            }
        }
        .Message{
            margin: 30px 0;
             p{
                margin: 15px 0;
            }
        }
        .cont-input2{
            width: 668px;
            height: 180px;
            margin: 0;
            border-radius: 10px;
            border: 1px solid black;
            input{
                outline: none;
                border: none;
                margin: 5px 0 0 5px;
                width: 660px;
                height: 170px;
            }
        }
        button{
            width: 108px;
            height: 33px;
            padding: 0 0 0 28px!important;
            border-radius: 10px;
            gap: 10px;
            border: none;
            font-family: Poppins;
            font-size: 13px !important;
            font-weight: 700;
            line-height: 33px;
            letter-spacing: 0em;
            text-align: left;
            background: #0992D5;
            color: white;
        }
    }
}
@media(max-width:375px){
    .contacts-section1{
        .cont-texts{
            p{
                margin: 20px 0;
            }
        }
        .blue{
            font-family: Poppins;
            font-size: 22px;
            font-weight: 500;
            line-height: 33px;
            letter-spacing: 0em;
            text-align: left;
            color: #0992D5;
        }
        p{
            font-family: Poppins;
            font-size: 22px;
            font-weight: 500;
            line-height: 33px;
            letter-spacing: 0em;
            text-align: left;
            width: 240px !important;
        }
        .cont-input{
            margin: 30px 0;
            p{
                margin: 10px 0;
            }
        }
        .cont-input1{
            width: 230px !important;
            height: 29px !important;
            border-radius: 10px;
            margin: 0;
            border: 1px solid  black;
            input{
                outline: none;
                border: none;
                margin: 5px 0 0 5px;
                width: 220px !important;
                height: 24px !important;
            }
        }
        .Message{
            margin: 30px 0;
             p{
                margin: 15px 0;
            }
        }
        .cont-input2{
            width: 260px !important;
            height: 100px !important;
            margin: 0;
            border-radius: 10px;
            border: 1px solid black;
            input{
                outline: none;
                border: none;
                margin: 5px 0 0 5px;
                width: 250px !important;
                height: 90px !important;
            }
        }
        button{
            width: Hug (158px);
            height: Hug (53px);
            padding: 10px 40px 10px 40px;
            border-radius: 10px;
            gap: 10px;
            border: none;
            font-family: Poppins;
            font-size: 22px;
            font-weight: 700;
            line-height: 33px;
            letter-spacing: 0em;
            text-align: left;
            background: #0992D5;
            color: white;
        }
    }
}
@media(max-width:320px){

}