@media(max-width:1400px){
    .about-kg-pictures{
        h4{
            font-size: 18px !important;
        }
        p{
            font-size: 12px !important;
        }

    }


}
@media(max-width:1200px){
    .about-kg-pictures{
        img{
            width: 90%;
            height: 90%;
        }
    }

}
@media(max-width:1024px){
  .about-kg-pictures{
      p{
          margin: 0 !important;
      }
  }
    
}
@media(max-width: 993px){

  
}
@media(max-width: 768px){
    .about-scrollbar {
        img{
            width: 200px !important;

        }
    }
}
@media(max-width: 575px){

}
@media(max-width: 480px){
    .about-scrollbar{
        img{
            width: 180px !important;
            margin: 0 5px !important;

        }
    }
}
@media(max-width:414px){
    .about-scrollbar {
        img{
            width: 150px !important;

        }
    }
}
@media(max-width:375px){
    .about-kg-pictures {
        img{
            margin-bottom: 18px !important;
        }
    }
    .about-scrollbar{
        img{
            width: 130px !important;

        }
    }
}
@media(max-width:320px){
  #about-kg-pictures{
      img{
          margin: 10px !important;
      }

  }
}