#hotelPage {
  margin: 100px 0;

  .container {
    width: 67%;

    .hotelPage {
      img {
        border-radius: 10px;
      }
      &--title {

        margin: 20px 0;
        text-align: start;


          p{
            font-size: 30px;

            color: rgba(255, 215, 0, 1);


        }

        h1 {
          color: #000;
          font-family: Poppins;
          font-size: 42px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

      }

      &--photos {
        display: flex;
        flex-direction: column;
        gap: 16px;

        &__top {
          display: flex;
          gap: 16px;

          &--left {
            display: flex;
            flex-direction: column;
            gap: 10px;

            img {
              width: 290px;
              height: 230px;
            }
          }

          &--img {
            width: 695px;
            height: 476px;
          }
        }

        &__bottom {
          display: flex;
          gap: 14.5px;

          img {
            width: 257px;
            height: 184px;
          }

          div:nth-child(4) {
            img {
              width: 185px;
              height: 184px;
            }
          }
        }


      }
      &--bottom{
        margin: 30px 0;
        display: flex;
        gap: 25px;
&__text{
  width: 540px;
  p{
    white-space: pre-wrap;
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
        &__bottom{
          width: 460px;
          height: 344px;
        }
      }
    }
  }
}