@media (max-width: 1200px) {
  #train {
    .container {
      .train {
        &--card {
          &__rout {
            width: 750px;
            &--city {
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  #train {
    .container {
      .train {
        &--card {
          &__rout {
            &--city {
            }
          }
        }
      }
    }
  }
}
@media (max-width: 992px) {
  #train {
    .container {
      .train {
        &--card {
          &__rout {
            &--city {
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  #train {
    .container {
      .train {
        display: flex;
        justify-content: center;
        h1 {
          display: none;
        }
        &--card {
          &__rout {
            &--city {
              width: 283px;
              height: 216px;
              img {
                width: 263px;
                height: 154px;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 576px) {
  #train {
    .container {
      .train {
        display: flex;

        &--card {
          &__rout {
            &--city {
              width: 208px;
              height: 185px;
              img {
                width: 189px;
                height: 124px;
              }
              &__go {
                h4 {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 400px) {
  #train {
    .container {
      .train{
        &--card {
          &__rout {
            &--city {
              width: 158px;
              height: 150px;
              img {
                width: 144px;
                height: 89px;
              }
              &__go {
                h4 {
                  font-size: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 375px) {
  #train {
    .container {
      .train {
        &--card {
          &__rout {
            &--city {
              width: 145px;
              height: 136px;
              img {
                width: 137px;
                height: 81px;
              }
              &__go {
                h4 {
                  font-size: 8px;
                }
              }
            }
          }
        }
      }
    }
  }
}

