@media (max-width: 576px) {
  #planeRout {
    .container {
      .planeRout {
        &--blocks {
          width: 421px;
          height: 1018px;

          &__blockGrey {
            width: 420px;
            height: 120px;
            border-radius: 27px;
            h3 {
              font-size: 20px;
            }
            h4 {
              margin: 10px 0 10px 21px;
            }
          }
        }
      }
    }
  }
}
