@media(max-width:1400px){


}
@media(max-width:1200px){
  #kyrgyzstan{
      .kyrgyzstan{
          h1{
              text-align: center !important;
          }
      }
  }
}
@media(max-width:1024px){
    
    
}
@media(max-width: 993px){
    
}
@media(max-width: 768px){
    #kyrgyzstan{
        .kyrgyzstan{
            h1{
                font-size: 36px !important;
                line-height: 45px !important;
            }
        }
    }

}
@media(max-width: 575px){
    
}
@media(max-width: 480px){
    #kyrgyzstan{
        .kyrgyzstan{
            h1{
                font-size: 30px !important;
                line-height: 40px !important;
            }
        }
    }

}
@media(max-width:414px){
    
}
@media(max-width:375px){
    #kyrgyzstan{
        .kyrgyzstan{
            h1{
                font-size: 26px !important;
                line-height: 34px !important;
            }
        }
    }

}
@media(max-width:320px){
    
}