@import "../../travel2/src/components/header/style";
@import "../../travel2/src/components/header/media";
@import "../../travel2/src/components/hero/style";
@import "../../travel2/src/components/hero/media";
@import "../../travel2/src/components/footer/style";
@import "../../travel2/src/components/footer/media";
@import "../../travel2/src/components/popular/style";
@import "../../travel2/src/components/popular/media";
@import "../../travel2/src/components/reviews/style";
@import "../../travel2/src/components/reviews/media";
@import "../../travel2/src/components/pages/welcom/style";
@import "../../travel2/src/components/pages/welcom/media";
@import "../../travel2/src/components/pages/culture/style";
@import "../../travel2/src/components/pages/culture/media";
@import "../../travel2/src/components/pages/tradition/style";
@import "../../travel2/src/components/pages/tradition/media";
@import "../../travel2/src/components/hotels/hotel/style";
@import "../../travel2/src/components/hotels/search/style";
@import "../../travel2/src/components/hotels/hotelDetail/style";
@import "../../travel2/src/components/link/link.style";
@import "../../travel2/src/components/map/map";
@import "../../travel2/src/components/popular/popularDetails/popularDetailsFirst/style";
@import "../../travel2/src/components/popular/popularDetails/popularDetailsSecond/secondPolularDetailse";


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700&family=Syne:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

*{
  margin:0 auto;
  padding:0;
}
.container{
  width: 80%;
a{
  text-decoration: none;
}
}