@import "../../travel2/src/components/header/style";
@import "../../travel2/src/components/header/media";
@import "../../travel2/src/components/signUp/style";
@import "../../travel2/src/components/hero/style";
@import "../../travel2/src/components/hero/media";
@import "../../travel2/src/components/accaunt/style";
@import "../../travel2/src/components/footer/style";
@import "../../travel2/src/components/footer/media";
@import "../../travel2/src/components/popular/style";
@import "../../travel2/src/components/popular/media";
@import "../../travel2/src/components/reviews/style";
@import "../../travel2/src/components/reviews/media";
@import "../../travel2/src/components/pages/welcom/style";
@import "../../travel2/src/components/pages/welcom/media";
@import "../../travel2/src/components/hotels/hotel/style";
@import "../../travel2/src/components/hotels/search/style";
@import "../../travel2/src/components/hotels/search/media";
@import "../../travel2/src/components/hotels/hotel/media";
@import "../../travel2/src/components/hotels/hotelDetail/style";
@import "../../travel2/src/components/detailed/detail/detail";
@import "../../travel2/src/components/detailed/about-kg/about-kg";
@import "../../travel2/src/components/detailed/about-kg-pictures/about-kg-pictures";
@import "../../travel2/src/components/detailed/about-map/about-map";
@import "../../travel2/src/components/pages/kyrgyzstan/kg-bg/kg-bg";
@import "../../travel2/src/components/pages/kyrgyzstan/kg-section1/kg-section1";
@import "../../travel2/src/components/newLink/newLink";
@import "../../travel2/src/components/use/useStyle";
@import "../../travel2/src/components/map/map";
@import "../../travel2/src/components/popular/popularDetails/popularDetailsFirst/style";
@import "../../travel2/src/components/popular/popularDetails/popularDetailsSecond/secondPolularDetailse";
@import "../../travel2/src/components/pages/kyrgyzstan/kg-section2/kg-section2";
@import "../../travel2/src/components/pages/kyrgyzstan/kg-section3/kg-section3";
@import "../../travel2/src/components/pages/kyrgyzstan/kg-section4/kg-section4";
@import "../../travel2/src/components/pages/kyrgyzstan/kg-section5/kg-section5";
@import "../../travel2/src/components/pages/kyrgyzstan/kg-section6/kg-section6";
@import "../../travel2/src/components/pages/culture/cult-section1/cult-section1";
@import "../../travel2/src/components/pages/culture/culture-bg/culture-bg.scss";
@import "../../travel2/src/components/pages/culture/cult-section1/cult-section1.scss";
@import "../../travel2/src/components/pages/culture/cult-section2/cult-section2.scss";
@import "../../travel2/src/components/pages/culture/cult-section3/cult-section3.scss";
@import "../../travel2/src/components/pages/culture/cult-section4/cult-section4.scss";
@import "../../travel2/src/components/pages/tradition/trad-bg/trad-section.scss";
@import "../../travel2/src/components/pages/tradition/trad-section1/trad-section1.scss";
@import "../../travel2/src/components/pages/tradition/trad-section2/trad-section2.scss";
@import "../../travel2/src/components/contacts/contacts-bg/contacts-bg.scss";
@import "../../travel2/src/components/contacts/contacts-section1/contacts-section1.scss";
@import "../../travel2/src/components/detailed/about-kg/about-kg-media.scss";
@import "../../travel2//src/components/detailed/detail/detail-media.scss";
@import "../../travel2/src/components/aboutRoutes/Bus/style.scss";
@import "../../travel2/src/components/aboutRoutes/Plane/style.scss";
@import "../../travel2/src/components/aboutRoutes/Train/style.scss";
@import "../../travel2/src/components/aboutRoutes/content/style.scss";
@import "../../travel2/src/components/aboutRoutes/results/planeRout/style.scss";
@import "../../travel2/src/components/aboutRoutes/results/busRout/style.scss";
@import "../../travel2/src/components/aboutRoutes/results/trainRout/style.scss";
@import "../../travel2/src/components/aboutRoutes/results/style.scss";

@import "../../travel2/src/components/aboutRoutes/zagalovok/style.scss";
@import "../../travel2/src/components/mission/mission";
@import "../../travel2/src/components/detailed/about-kg-pictures/about-kg-pictures-media.scss";
@import "../../travel2/src/components/detailed/about-map/about-map-media.scss";
@import "../../travel2/src/components/pages/kyrgyzstan/kg-bg/kg-bg-media.scss";
@import "../../travel2/src/components/pages/kyrgyzstan/kg-section1/kg-section1-media.scss";
@import "../../travel2/src/components/pages/kyrgyzstan/kg-section2/kg-section2-media.scss";
@import "../../travel2/src/components/pages/kyrgyzstan/kg-section3/kg-section3-media";
@import "../../travel2/src/components/pages/kyrgyzstan/kg-section4/kg-section4-media.scss";
@import "../../travel2/src/components/pages/kyrgyzstan/kg-section5/kg-section5-media.scss";
@import "../../travel2/src/components/pages/kyrgyzstan/kg-section6/kg-section6-media.scss";
@import "../../travel2/src/components/pages/culture/culture-bg/culture-bg-media.scss";
@import "../../travel2/src/components/pages/culture/cult-section1/cult-section1-media.scss";
@import "../../travel2/src/components/pages/culture/cult-section2/cult-section2-media.scss";
@import "../../travel2/src/components/pages/culture/cult-section3/cult-section3-media.scss";
@import "../../travel2/src/components/pages/culture/cult-section4/cult-section4-media.scss";
@import "../../travel2/src/components/pages/tradition/trad-bg/trad-bg-media.scss";
@import "../../travel2/src/components/pages/tradition/trad-section1/trad-section1-media.scss";
@import "../../travel2/src/components/pages/tradition/trad-section2/trad-section2-media.scss";
@import "../../travel2/src/components/hero/media.scss";
@import "../../travel2/src/components/hotels/hotelDetail/media";
@import "../../travel2/src/components/accaunt/personal/style";
@import "../../travel2/src/components/accaunt/login/style";
@import "../../travel2/src/components/accaunt/userSet/style";
@import "../../travel2/src/components/contacts/contacts-bg/contatcs-bg-media.scss";
@import "../../travel2/src/components/contacts/contacts-section1/contacts-section1-mefia.scss";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700&family=Syne:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0 auto;
  padding: 0;
}
.container {
  width: 80%;
  a {
    text-decoration: none;
  }
}
@media (max-width: 452px) {
  .container{
    width: 90%;
  }
}